<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="top.xuqingquan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <!--如果有接入腾讯X5时候需要用这个做播放视频-->
        <activity
                android:name="com.tencent.smtt.sdk.VideoActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:exported="false"
                android:launchMode="singleTask"
                android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--AgentWebX5申请权限用到这个类-->
        <activity
                android:name=".web.publics.ActionActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="standard"
                android:theme="@style/actionActivity"
                android:exported="false"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.ScaffoldFileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>
    </application>

</manifest>
