<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.xuqingquan.web">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <!-- 如果有接入腾讯X5时候需要用这个做播放视频 -->
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- AgentWeb申请权限用到这个类 -->
        <activity
            android:name=".nokernel.ActionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/scaffold_actionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <!-- Android 7.0 之后用到FileProvider -->
        <provider
            android:name=".provider.ScaffoldWebFileProvider"
            android:authorities="${applicationId}.ScaffoldWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/scaffold_filepaths" />
        </provider>
    </application>
</manifest>