<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.xuqingquan">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk tools:overrideLibrary="org.adblockplus.libadblockplus.android.settings" />

    <application>
        <service
            android:name="com.didichuxing.doraemonkit.kit.colorpick.ScreenRecorderService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>

</manifest>