<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.xuqingquan">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Android 7.0 之后用到FileProvider -->
        <provider
            android:name="top.xuqingquan.app.ScaffoldFileProvider"
            android:authorities="${applicationId}.ScaffoldFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/scaffold_filepaths" />
        </provider>
        <service
            android:name="com.didichuxing.doraemonkit.kit.colorpick.ScreenRecorderService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            tools:targetApi="q" />
    </application>

</manifest>