<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.just.agentwebX5">

    <application>
        <provider
                android:name="com.just.agentwebX5.AgentWebFileProvider"
                android:authorities="${applicationId}.AgentWebX5FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/web_download_paths"/>
        </provider>

        <activity
                android:name="com.just.agentwebX5.ActionActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="false"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/actionActivity"
                android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>
    </application>
</manifest>
